{deps, [%% Erlang deps
        {yaws, ".*", {git, "git://github.com/klacke/yaws.git", {tag, "yaws-2.0.2"}}},
         {color, ".*", {git, "git://github.com/julianduque/erlang-color.git", {tag, "v0.2.0"}}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.0.2"}}},,
        %% Already-installed
        lfe,
        lutil,
        ltest,
        lcfg,
        %% Makefile-downloaded
        exemplar,
        lfest,
        kla,
        clj,
        logjam]}.
